<div class="add-user-containter">
  <h2>Add new user</h2>
  <form class="form" (ngSubmit)="onSubmit()" prevent-enter-submit ngNativeValidate>
    <h5>Name</h5>
    <input type="text" id="name" name="name" minlength="6" [(ngModel)]="name" placeholder="add name" required>

    <h5>Email</h5>
    <input type="email" id="email" name="email" email="true" [(ngModel)]="email" placeholder="email" required>
    <input type="number" id="dailyHours" name="dailyHours" [(ngModel)]="dailyHours" min="1" max="10"
      placeholder="daily hours" required>

      <h5>Technologies</h5>
    <input type="string" minlength="" #technologies name="technologies" placeholder="add technology and press space"
      (keyup.space)="onSpace($event)">
    <div class="technologies-container">
      <app-technologies-item removable={{true}}
      *ngFor="let technology of userTechnologies"
      [technology]="technology"
      (removeTechnologyItem)="removeTechnologyItem($event)">
      </app-technologies-item>
    </div>

    <h5>Prefered working hours</h5>
    <div class="checkbox">
      <input type="checkbox" id="anyHours" name="any" [(ngModel)]="any">
      <label>any hours</label>
    </div>
    <div *ngIf="!any">
      <div class="min-time-example">
        <input placeholder="starting at" [ngxTimepicker]="min" [min]="" name="startTime" [(ngModel)]="startTime" [format]=24  readonly hourSelected="hourSelected()">
        <ngx-material-timepicker #min ></ngx-material-timepicker>
      </div>

      <div class="max-time-example">
        <input placeholder="Ending at" [ngxTimepicker]="max"  name="endTime" [(ngModel)]="endTime" [format]=24 minutesGap="15" [max]="" readonly>
        <ngx-material-timepicker #max></ngx-material-timepicker>
      </div>
    </div>

    <input type="submit" value="Submit" class="btn">

  </form>

</div>
