@import '../../styles/variables.scss';

.technology-container {
  display: flex;
  flex-direction: row;
  padding: 8px;
  margin: 4px;
  border-radius: 8px;

  .technology {
    color: $almost-white;
  }

  .remove-technology {
    display: block;
    outline: none;
    background: $primary;
    color: $almost-white;
    cursor: pointer;
    border: none;
    padding: 0 0 0 16px;
    height: 100%;
    overflow: visible;
    border-radius: 50%;
    font-size: 22px;

  }
}
