
.technology-container{
    display: flex;
    flex-direction:row;
    padding:6px;
    margin:4px;
    border-radius:8px;
    
    .technology{

    }

    .remove-technology{
        display:block;
        outline:none;
        border: none;
    margin: 0;
    padding: 0;
    height:100%;
    overflow: visible;
     
    }
}
