<div class="user-container">

  <div class="user-header" (click)="toggleMoreInfo(user)">
    <mat-icon class="icon account-icon">account_circle</mat-icon>
    <div class="user-name">
      <h5>{{user.name}}</h5>
    </div>

    <div class="show-more-info">
      <div class="link" *ngIf="!moreInfoVisible">
        <mat-icon class="icon">expand_more</mat-icon>
      </div>
      <div class="link" *ngIf="moreInfoVisible">
        <mat-icon class="icon">expand_less</mat-icon>
      </div>
    </div>
  </div>

  <div *ngIf="moreInfoVisible" class="more-info">

    <div class="user-basic-info">

      <div class="user-info-row">
        <div class="user-email">
          <mat-icon class="icon">email</mat-icon> {{user.email}}
        </div>
      </div>

      <div class="user-working-hours">
        <div class="user-info-row">
          <mat-icon class="icon">access_time</mat-icon>
          Working hours
        </div>

        <span *ngIf="user.any">any hours</span>
        <span *ngIf="!user.any">
          start: {{user.startTime}}
          end: {{user.endTime}}
        </span>

      </div>
    </div>


    <div class="technologies-container">
      <app-technologies-item *ngFor="let technology of technologies" [technology]="technology">
      </app-technologies-item>
    </div>

    <mat-icon class="icon">edit</mat-icon>
  </div>

</div>
