<div>

  <div class="user-header">
      <mat-icon class="icon">account_circle</mat-icon>
      <span> {{user.name}}</span>
      <mat-icon class="icon">edit</mat-icon>
  </div>


  <div>
    <div class="user-info"  (click)="toggleMoreInfo(user)" *ngIf="!moreInfoVisible">
        Show more informations <mat-icon class="icon">expand_more</mat-icon>
    </div>
    
    <div class="user-info"  (click)="toggleMoreInfo(user)" *ngIf="moreInfoVisible">
        Hide informations <mat-icon class="icon">expand_less</mat-icon>
    </div>
  </div>
  <div *ngIf="moreInfoVisible" class="more-info">
    <span> {{user.email}}</span>
    <span *ngIf="user.any">any hours</span>
    <span *ngIf="!user.any">
      start: {{user.startTime}}
      end: {{user.endTime}}
    </span>
    <div class="technologies-container">
      <app-technologies-list *ngFor="let technology of technologies" [technology]="technology">
      </app-technologies-list>
    </div>
  </div>
  
  
</div>

