$text: #333;
$grey-dark: grey;
$grey-light: #ccc;
$primary: #257474;
$title-weight:normal;
$link: #ff6200;
$success:green;
$info:#51bcec;
$danger:red;
$almost-white: rgb(229, 229, 226);


*{
    color: $text;
    padding: 0;
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.grid{
    width: 1200px
}

.btn{
    background: $primary;
    color: $almost-white; 
}

.icon{
    color: $primary;
}