
.technology-container{
    display: flex;
    flex-direction:row;
    padding:4px;
    border: 1px solid black;
    margin:4px;
    border-radius:8px;

    .technology{

    }

    .remove-technology{
        display:block;
        outline:none;
        border: none;
    margin: 0;
    padding: 0;
    height:100%;
    overflow: visible;
        background:#f0f0f0;
    
    }
}
